body  { background-image: url("background.jpg")
}

.blanc {
  margin-left: auto;
  margin-right: auto;
  width: 700;
  background: white;
}

div  { font-size: 120%;
}

h2 { font-size: 150%;
  font-family: fanwood;
  text-shadow: 10px 10px 10px #8a8080;
  color: #443232;
}

.violet{
  color: white;
  font-face: Dark Scroll Scripts;
  font-style: oblique;
  font-weight: bold;
  text-shadow: 3px 3px 2px #9640af;
}

a {text-decoration:none;
color:#ffffff;
}

h3 { font-size: 200%;
  color: #554955;
  font-family: fantasy;
  text-shadow:2px 2px 2px white;
  border:solid 2px;
  border-style: double;
  text-align: center;
}

div { font-size: 130%;
  color: white;
  font-family: cursive;
  text-shadow: 2px 2px 2px blue;
}

li { font-size: 120%;
  font-style: oblique;
  text-shadow: 2px 1px 2px black;
  font-family: cursive;
  padding-right: 5px;
}

img { float: right;
    margin: 10px;
    border-radius: 100%;
}

.photo { float: left;
  margin-left: auto;
  margin-right: auto;
}

.interet { clear: both;
}

ul {
  list-style: square;
  color: black;
}

.hobby {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.divers {
  text-align: center;
  font-weight: bolder;
}
